{% extends "index.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type='text/css' rel='stylesheet' href='{% static "styles/estilos.css" %}'> {% block title %} Anuncios {% endblock %}
</head>

<body>
    {% block content %}
    <h1 class="cabecera">Anuncios > {{ coche.modelo }}</h1>
    <div class="fotoAnuncio">
        <img class="imagenGrande" src="{{ coche.foto.url }}" alt="foto {{ coche.marca }}" title="{{ coche.marca.nombreMarca }}">
    </div>
    <table>
        <tr>
            <td><img class="logo" src="{{ coche.marca.logo.url }}" alt="{{ coche.marca.nombreMarca }}" title="{{ coche.marca.nombreMarca }}"></td>
        </tr>
        <tr>
            <td><b>Marca</b></td>
            <td>{{ coche.marca.nombreMarca }}</td>
        </tr>
        <tr>
            <td><b>Modelo</b></td>
            <td>{{ coche.modelo }}</td>
        </tr>
        <tr>
            <td><b>Kilómetros</b></td>
            <td>{{ coche.kilometros }} km</td>
        </tr>
        <tr>
            <td><b>Año</b></td>
            <td> {{ coche.Anyo }}</td>
        </tr>
        <tr>
            <td><b>Color</b></td>
            <td>{{ coche.color }}</td>
        </tr>
        <tr>
            <td><b>Precio</b></td>
            <td>{{ coche.precio }} €</td>
        </tr>
        <tr>
            <td><b>Categorias</b></td>
            <td>{% for elemento in categoriasCoche %} {%if coche.id == elemento.coche.id %} {{ elemento.categoria.nombreCategoria}} {%endif%}{% endfor %}</td>
        </tr>
    </table>
    <div class="recomendados">
        {% for elemento in categoriasCoche %} {% if elemento.categoria.id == coches.categorias.id %}
        <li>
            <a href="/anuncios/{{elemento.coche.slug}}">
                <div class="anuncioMedianoCategoria"><img class="imagenMediana" src="{{ elemento.coche.foto.url }}" alt="foto {{ elemento.coche.marca }}">
                    <h2 class="textoAnuncio">
                        {{ elemento.coche.marca }} {{ elemento.coche.modelo }} {{ elemento.coche.precio }}€
                    </h2>
                </div>
            </a>
        </li>
        {%endif%}{%endfor%}
    </div>

    {% endblock %}
</body>

</html>