<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="fotoAnuncio">
        <img class="imagenGrande" src="{{ coche.foto.url }}" alt="foto {{ coche.marca }}" title="{{ coche.marca.nombreMarca }}">
    </div>
    <div class="infoAnuncio">
        <h3>Marca: {{ coche.marca.nombreMarca }}<img class="logo" src="{{ coche.marca.logo.url }}" alt="{{ coche.marca.nombreMarca }}" title="{{ coche.marca.nombreMarca }}"></a>
        </h3>
        <h3>Modelo: {{ coche.modelo }}</h3>
        <h3>Kilometros: {{ coche.kilometros }}</h3>
        <h3>Anyo: {{ coche.Anyo }}</h3>
        <h3>Color: {{ coche.color }}</h3>
        <h3>Precio: {{ coche.precio }}</h3>
        <h3>Categorias: {% for elemento in categoriasCoche %} {%if coche.id == elemento.coche.id %} {{ elemento.categoria.nombreCategoria}} {%endif%}{% endfor %}
        </h3>

    </div>


</body>

</html>