{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type='text/css' rel='stylesheet' href='{% static "styles/estilos.css" %}'>
    <title>Outlet Car</title>
</head>

<body>
    <header>
        <h1>Outlet Car</h1>
    </header>
    <main>
        <div class="marcas"><span class="s1">Marcas: </span> {% for marca in marcas%}
            <h3 class="marca">
                <a href="/marcas/{{marca.slug}}"><img class="logo" src="{{ marca.logo.url }}" alt="{{ marca.nombreMarca }}" title="{{ marca.nombreMarca }}"></a>
            </h3>{% endfor %}</div>

        <div class="categorias"><span class="s2">Categorias: </span> {% for categoria in categorias%}
            <h3 class="categoria">
                <a href="/categorias/{{categoria.slug}}">{{ categoria.nombreCategoria }}</a>
            </h3>{% endfor %}</div>

        <div class="inicial">
            <div class="slider">
                <ul>

                    <li>
                        {% for coche in coches%} {% if coche.id == 1 %}
                        <a href="/anuncios/{{coche.slug}}">
                            <div class="anuncioGrande"><img class="imagenGrande" src="{{ coche.foto.url }}" alt="foto {{ coche.marca }}">
                                <h2 class="textoAnuncio">
                                    {{ coche.marca }} {{ coche.modelo }} {{ coche.precio }}€
                                </h2>
                            </div>
                        </a>
                        {% endif %} {% endfor %}
                    </li>
                    <li>
                        {% for coche in coches%} {% if coche.id == 2 %}
                        <a href="/anuncios/{{coche.slug}}">
                            <div class="anuncioGrande"><img class="imagenGrande" src="{{ coche.foto.url }}" alt="foto {{ coche.marca }}">
                                <h2 class="textoAnuncio">
                                    {{ coche.marca }} {{ coche.modelo }} {{ coche.precio }}€
                                </h2>
                            </div>
                        </a>
                        {% endif %} {% endfor %}
                    </li>
                    <li>
                        {% for coche in coches%} {% if coche.id == 3 %}
                        <a href="/anuncios/{{coche.slug}}">
                            <div class="anuncioGrande"><img class="imagenGrande" src="{{ coche.foto.url }}" alt="foto {{ coche.marca }}">
                                <h2 class="textoAnuncio">
                                    {{ coche.marca }} {{ coche.modelo }} {{ coche.precio }}€
                                </h2>
                            </div>
                        </a>
                        {% endif %} {% endfor %}
                    </li>
                    <li>
                        {% for coche in coches%} {% if coche.id == 4 %}
                        <a href="/anuncios/{{coche.slug}}">
                            <div class="anuncioGrande"><img class="imagenGrande" src="{{ coche.foto.url }}" alt="foto {{ coche.marca }}">
                                <h2 class="textoAnuncio">
                                    {{ coche.marca }} {{ coche.modelo }} {{ coche.precio }}€
                                </h2>
                            </div>
                        </a>
                        {% endif %} {% endfor %}
                    </li>

                </ul>
            </div>
            <div class="lateral">
                {% for coche in coches%} {% if coche.id == 5 %}
                <div class="anuncioMediano"><img class="imagenMediana" src="{{ coche.foto.url }}" alt="foto {{ coche.marca }}">
                    <h2 class="textoAnuncio">
                        {{ coche.marca }} {{ coche.modelo }} {{ coche.precio }}€
                    </h2>
                </div>
                {% endif %} {% endfor %} {% for coche in coches%} {% if coche.id == 5 %}
                <div class="anuncioMediano"><img class="imagenMediana" src="{{ coche.foto.url }}" alt="foto {{ coche.marca }}">
                    <h2 class="textoAnuncio">
                        {{ coche.marca }} {{ coche.modelo }} {{ coche.precio }}€
                    </h2>
                </div>
                {% endif %} {% endfor %}
            </div>
        </div>




        <table>
            <thead>
                <tr>
                    <th>
                        Marca
                    </th>
                    <th>
                        Modelo
                    </th>
                    <th>
                        Kilometros
                    </th>
                    <th>
                        Categoria
                    </th>
                    <th>
                        Color
                    </th>
                    <th>
                        Precio
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for coche in coches%}
                <tr>
                    <td>{{ coche.id }}</td>
                    <td>{{ coche.modelo }}</td>
                    <td>{{ coche.kilometros }}</td>
                    <td><img src="{{ coche.foto.url }}" alt="foto {{ coche.marca }}"> </td>
                    <td>{{ coche.color }}</td>
                    <td>{{ coche.precio }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Categorias</h2>
        {% for categoria in categorias%}{% for categoriaCoche in categoriasCoche%} {% if categoria == categoriaCoche.categoria %}
        <p>{{ categoriaCoche.coche }}</p>
        {% endif %} {% endfor %} {% endfor %}

        <h2>Deportivo</h2>
        {% for categoriaCoche in categoriasCoche%} {% if categoriaCoche.categoria.nombreCategoria == "Deportivo" %}
        <p>{{ categoriaCoche.coche }}</p>
        {% endif %} {% endfor %}

        <div>
            <h3>Uno de cada categoria</h3>
            {% for marca in marcas%} {% for coche in marca.coches %}
            <p>{{ coche.marca.nombreMarca }} {{ coche.modelo }}</p> {% endfor %}{% endfor %}</div>

    </main>
</body>

</html>