{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/static/fotos/iconos/coche.png">
    <link type='text/css' rel='stylesheet' href='{% static "styles/estilos.css" %}' class="theme">

    <title>Outlet Car {% block title%} {%endblock %}</title>
</head>

<body>
    <div class="contenedorLoader">
        <div class="loader">
            <div class="linea"></div>
            <div class="linea"></div>
            <div class="linea"></div>
            <div class="linea"></div>
            <div class="linea"></div>
            <div class="linea"></div>
            <div class="linea"></div>
            <div class="linea"></div>
        </div>
    </div>

    <header>
        <a href="/">
            <h1 data-aos="fade-right" data-aos-duration="40000">Outlet Car</h1>
        </a>
        <span class="es">Español</span>
        <input type="checkbox" class="check">
        <span class="en">Ingles</span>
        <input type="checkbox" class="checkMode">
        <span class="da">Nocturno</span>
        <script src="../static/js/app.js"></script>
    </header>

    {% block content%}
    <div class="categorias">

        <table class="tablaCategorias">

            <tr>

                {% for categoria in categorias%}
                <td>
                    <h3 class="categoria">
                        <a href="/categorias/{{categoria.slug}}">{{ categoria.nombreCategoria }}</a>
                    </h3>
                </td>
                {% endfor %}

            </tr>

        </table>
    </div>
    <div class="barraMarcas">
        <div class="columnaIzq"></div>
        <div class="marcas">{% for marca in marcas%}
            <h3 class="marca">
                <a href="/marcas/{{marca.slug}}"><img class="logo" src="{{ marca.logo.url }}" alt="{{ marca.nombreMarca }}" title="{{ marca.nombreMarca }}"></a>
            </h3>
            {% endfor %}
        </div>
        <div class="columaDer"></div>
    </div>

    <main>



        <div class="inicial">
            <div class="slider">
                <ul>

                    <li>
                        {% for coche in coches%} {% if coche.id == 1 %}
                        <a href="/anuncios/{{coche.slug}}">
                            <div class="anuncioGrande"><img class="imagenGrande" src="{{ coche.foto.url }}" alt="foto {{ coche.marca }}">
                                <h2 class="textoAnuncio">
                                    {{ coche.marca }} {{ coche.modelo }} {{ coche.precio }}€
                                </h2>
                            </div>
                        </a>
                        {% endif %} {% endfor %}
                    </li>
                    <li>
                        {% for coche in coches%} {% if coche.id == 2 %}
                        <a href="/anuncios/{{coche.slug}}">
                            <div class="anuncioGrande"><img class="imagenGrande" src="{{ coche.foto.url }}" alt="foto {{ coche.marca }}">
                                <h2 class="textoAnuncio">
                                    {{ coche.marca }} {{ coche.modelo }} {{ coche.precio }}€
                                </h2>
                            </div>
                        </a>
                        {% endif %} {% endfor %}
                    </li>
                    <li>
                        {% for coche in coches%} {% if coche.id == 3 %}
                        <a href="/anuncios/{{coche.slug}}">
                            <div class="anuncioGrande"><img class="imagenGrande" src="{{ coche.foto.url }}" alt="foto {{ coche.marca }}">
                                <h2 class="textoAnuncio">
                                    {{ coche.marca }} {{ coche.modelo }} {{ coche.precio }}€
                                </h2>
                            </div>
                        </a>
                        {% endif %} {% endfor %}
                    </li>
                    <li>
                        {% for coche in coches%} {% if coche.id == 4 %}
                        <a href="/anuncios/{{coche.slug}}">
                            <div class="anuncioGrande"><img class="imagenGrande" src="{{ coche.foto.url }}" alt="foto {{ coche.marca }}">
                                <h2 class="textoAnuncio">
                                    {{ coche.marca }} {{ coche.modelo }} {{ coche.precio }}€
                                </h2>
                            </div>
                        </a>
                        {% endif %} {% endfor %}
                    </li>

                </ul>
            </div>
            <div class="lateral">
                {% for coche in coches%} {% if coche.id == 5 %}
                <a href="/anuncios/{{coche.slug}}">
                    <div class="anuncioMediano"><img class="imagenMediana" src="{{ coche.foto.url }}" alt="foto {{ coche.marca }}">
                        <h2 class="textoAnuncio">
                            {{ coche.marca }} {{ coche.modelo }} {{ coche.precio }}€
                        </h2>
                    </div>
                </a>
                {% endif %} {% endfor %} {% for coche in coches%} {% if coche.id == 6 %}
                <a href="/anuncios/{{coche.slug}}">
                    <div class="anuncioMediano"><img class="imagenMediana" src="{{ coche.foto.url }}" alt="foto {{ coche.marca }}">
                        <h2 class="textoAnuncio">
                            {{ coche.marca }} {{ coche.modelo }} {{ coche.precio }}€
                        </h2>
                    </div>
                </a>
                {% endif %} {% endfor %}
            </div>
        </div>

        <h1 class="cabecera" data-aos="fade-right" data-aos-duration="40000">Mejores precios</h1>
        <div class="inicialCategoria">
            <div class="categoriaMarcaAnuncio">
                <ul>

                    {% for marca in marcas%} {% for elemento in marca.coches %}
                    <li>
                        <a href="/anuncios/{{elemento.slug}}">
                            <div class="anuncioMedianoCategoria"><img class="imagenMediana" src="{{ elemento.foto.url }}" alt="foto {{ elemento.coche.marca }}">
                                <h2 class="textoAnuncio">
                                    {{ elemento.marca }} {{ elemento.modelo }} {{ elemento.precio }}€
                                </h2>
                            </div>
                        </a>
                    </li>
                    {% endfor %}{% endfor %}

                </ul>
            </div>
        </div>
        <div class="anuncioMediano">
            <a href="busquedaCoches">

                <h2 class="textoAnuncio">Buscador de coches</h2>
            </a>
        </div>

        {% endblock%}
    </main>
    <div class="footer-basic">
        <footer class="footer">
            <div class="container bottom_border">
                <div class="row">
                    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">¿Quiénes somos?</h5>

                        <p class="mb10">El portal de coches de confianza de los Donostiarras desde 2012.<br><br>Calidad, rendimiento y precio que nos sitúan líderes del sector.</p>
                        <p><i class="fa fa-location-arrow"></i> Gran Vía, Donostia-San Sebastián, 20002 </p>
                        <p><i class="fa fa-phone"></i> +34 - 943 25 24 23 </p>
                        <p><i class="fa fa fa-envelope"></i> outletcardeusto@udeusto.es </p>


                    </div>


                    <div class=" col-sm-4 col-md  col-6 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">Señas de identidad</h5>

                        <ul class="footer_ul_amrc">
                            <li>Transparencia</li>
                            <li>Calidad</li>
                            <li>Precios económicos</li>
                            <li>5 años de garantía</li>
                            <li>Periodos de prueba</li>
                            <li>Atención al cliente 24H</li>
                        </ul>

                    </div>


                    <div class=" col-sm-4 col-md  col-6 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">Nuestros colaboradores</h5>

                        <ul class="footer_ul_amrc">

                            <li>{% for marca in marcas%}{% if marca.id == 1 %}<a href="/marcas/{{marca.slug}}">{{ marca.nombreMarca }}</a>{% endif %}{% endfor %}</li>
                            <li>{% for marca in marcas%}{% if marca.id == 2 %}<a href="/marcas/{{marca.slug}}">{{ marca.nombreMarca }}</a>{% endif %}{% endfor %}</li>
                            <li>{% for marca in marcas%}{% if marca.id == 3 %}<a href="/marcas/{{marca.slug}}">{{ marca.nombreMarca }}</a>{% endif %}{% endfor %}</li>
                            <li>{% for marca in marcas%}{% if marca.id == 4 %}<a href="/marcas/{{marca.slug}}">{{ marca.nombreMarca }}</a>{% endif %}{% endfor %}</li>
                            <li>{% for marca in marcas%}{% if marca.id == 5 %}<a href="/marcas/{{marca.slug}}">{{ marca.nombreMarca }}</a>{% endif %}{% endfor %}</li>
                            <li>{% for marca in marcas%}{% if marca.id == 6 %}<a href="/marcas/{{marca.slug}}">{{ marca.nombreMarca }}</a>{% endif %}{% endfor %}</li>
                        </ul>

                    </div>


                    <div class=" col-sm-4 col-md  col-12 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">Redes Sociales</h5>


                        <ul class="footer_ul2_amrc">
                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter fleft padding-right"></i> </a>
                                <p>Compré un Dacia a través de outletCar y estoy encantado!! <a href="https://www.twitter.com/" target="_blank">https://www.twitter.com/</a></p>
                            </li>
                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter fleft padding-right"></i> </a>
                                <p>Los coches están como nuevos, qué #Maravilla <a href="https://www.twitter.com/" target="_blank">https://www.twitter.com/</a></p>
                            </li>
                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter fleft padding-right"></i> </a>
                                <p>#AdoroOutletCar #QueChollo <a href="https://www.twitter.com/" target="_blank">https://www.twitter.com/</a></p>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>


            <div class="container">

                <p class="text-center">Copyright @2010 | Designed With by OutletCar</a>
                </p>

                <ul class="social_footer_ul">
                    <li><a href="https://es-es.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>

            </div>

        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
</body>



</html>