<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
</head>

<body>
    <h1>Esto marcha chavalees</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Marca
                </th>
                <th>
                    Modelo
                </th>
                <th>
                    Kilometros
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Color
                </th>
                <th>
                    Precio
                </th>
            </tr>
        </thead>
        <tbody>
            {% for coche in coches%}
            <tr>
                <td>{{ coche.marca }}</td>
                <td>{{ coche.modelo }}</td>
                <td>{{ coche.kilometros }}</td>
                <td><img src="{{ coche.foto.url }}" alt="foto"> </td>
                <td>{{ coche.color }}</td>
                <td>{{ coche.precio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Categorias</h2>
    {% for categoria in categorias%}{% for categoriaCoche in categoriasCoche%} {% if categoria == categoriaCoche.categoria %}
    <p>{{ categoriaCoche.coche }}</p>
    {% endif %} {% endfor %} {% endfor %}

    <h2>Deportivo</h2>
    {% for categoriaCoche in categoriasCoche%} {% if categoriaCoche.categoria.nombreCategoria == "Deportivo" %}
    <p>{{ categoriaCoche.coche }}</p>
    {% endif %} {% endfor %}

    <div class="anuncio">
        {% for coche in coches%}
        <img src="{{ coche.foto.url }}" alt="foto">
        <h2>
            {{ coche.marca }} {{ coche.modelo }} <span>{{ coche.precio }}€</span>
        </h2>
        {% endfor %}
    </div>
</body>

</html>