{% extends "index.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type='text/css' rel='stylesheet' href='{% static "styles/estilos.css" %}'> {% block title %} - Marcas {% endblock %} {% block content %}
    <div class="categorias">

        <table class="tablaCategorias">

            <tr>
                {% for categoria in categorias%}
                <td>
                    <h3 class="categoria">
                        <a href="/categorias/{{categoria.slug}}">{{ categoria.nombreCategoria }}</a>
                    </h3>
                </td>
                {% endfor %}
            </tr>

        </table>
    </div>
    <div class="barraMarcas">
        <div class="columnaIzq"></div>
        <div class="marcas">{% for marca in marcas%}
            <h3 class="marca">
                <a href="/marcas/{{marca.slug}}"><img class="logo" src="{{ marca.logo.url }}" alt="{{ marca.nombreMarca }}" title="{{ marca.nombreMarca }}"></a>
            </h3>
            {% endfor %}
        </div>
        <div class="columaDer"></div>
    </div>
</head>




<body>
    <h1 class="cabecera">Marcas - {{ marca.nombreMarca }}</h1>
    <div class="inicialCategoria">
        <div class="categoriaMarcaAnuncio">
            <ul>

                {% for elemento in coches %} {% if elemento.marca.id == marca.id %}
                <li>
                    <a href="/anuncios/{{elemento.slug}}">
                        <div class="anuncioMedianoCategoria"><img class="imagenMediana" src="{{ elemento.foto.url }}" alt="foto {{ elemento.coche.marca }}">
                            <h2 class="textoAnuncio">
                                {{ elemento.marca }} {{ elemento.modelo }} {{ elemento.precio }}€
                            </h2>
                        </div>
                    </a>
                </li>
                {%endif%}{%endfor%}

            </ul>
        </div>
    </div>
    {% endblock %}

</html>