* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

header {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    height: 350px;
    background: url(../fotos/banner/banner2.jpg) 30% 0;
}

main {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    background-color: rgb(247, 234, 212);
}

h1 {
    color: white;
    font-size: 100px;
}

h3 {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}

.banner {
    width: 100%;
}

.marcas {
    display: flex;
}

.s1 {
    margin-top: 10px;
    font-size: large;
}

.marca {
    width: fit-content;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 180px;
}

.logo {
    height: 50px;
}

.categorias {
    display: flex;
    color: black;
}

.categoria {
    width: fit-content;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(168, 167, 167);
    border-radius: 180px;
    padding: 10px;
}

.s2 {
    margin-top: 7px;
    font-size: large;
}

.inicial {
    display: flex;
    width: 100%;
}

.slider {
    width: 54%;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
}

.slider li {
    width: 100%;
    list-style: none;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

.anuncioGrande {
    width: 99%;
    border: 3px solid black;
    background-color: whitesmoke;
}

.textoAnuncio {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    background-color: whitesmoke;
}

.imagenGrande {
    width: 100%;
    height: 100%;
}

.lateral {
    width: 23%;
    margin-left: 10%;
}

.anuncioMediano {
    width: 100%;
    margin-bottom: 10px;
    border: 3px solid black;
    background-color: whitesmoke;
}

.imagenMediana {
    width: 100%;
    height: 100%;
}

.anuncio:hover {
    filter: opacity(0.9);
    cursor: pointer;
    border: 3px solid red;
}

.anuncio:hover .textoAnuncio {
    color: red;
}

.marca:hover {
    cursor: pointer;
    filter: opacity(0.7);
}

.categoria:hover {
    cursor: pointer;
    filter: opacity(0.7);
}