h1 {
    color: blue;
}

.marca {
    width: fit-content;
    margin-right: 10px;
    background-color: green;
    border-radius: 180px;
}

.s1 {
    margin-top: 30px;
}

.logo {
    height: 45px;
}

.marcas {
    display: flex;
    background-color: brown;
}

h2 {
    background-color: chartreuse;
}